@model RegisterViewModel
@{ 
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}

<div class="container">
    <h2>Register</h2>
    <h4>Create an account</h4>
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email:</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label">First Name:</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label">Last Name:</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Password:</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label">Confirm Password:</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                <div class="col-md-6, form-group">
                    <button type="submit" class="btn btn-warning btn-lg btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <p>Already have an account? Login <a asp-action="Login" asp-controller="Account">here</a>!</p>
</div>
