@using Microsoft.AspNetCore.Identity;
@using MisterRobotoArigato.Models;
@using MisterRobotoArigato.Models.ViewModel;
@using System.Security.Claims;
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "_Layout";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/base.css" type="text/css" />
<link rel="stylesheet" href="~/css/layout.css" type="text/css" />
<link rel="stylesheet" href="~/css/modules.css" type="text/css" />
<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<title>Welcome to the Mister Roboto Arigato Store</title>
<body>
    <header class="nav navbar-static-top">
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-primary">
            <a href="/" class="navbar-brand">Mister Roboto Arigato</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar7">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar7">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Shop" asp-action="Index">Shop</a>
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Shop" asp-action="MyBasket">My Basket</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Shop" asp-action="Checkout">Checkout</a>
                        </li>
                    }
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                @if (SignInManager.IsSignedIn(User))
                {
                    var user = await UserManager.FindByEmailAsync(User.Identity.Name);
                    bool isAdmin = await UserManager.IsInRoleAsync(user, ApplicationRoles.Admin);

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                            <strong>Hi, @User.Claims.FirstOrDefault(c => c.Type == "FirstName").Value!</strong>
                        </a>
                        <div class="dropdown-menu user-menu" aria-labelledby="navbarDropdown">
                            <div class="dropdown-item disabled">
                                @{
                                    if (User.Identity.Name.Contains("doge"))
                                    {
                                        <img src="https://t7.rbxcdn.com/1c24a8301e8180247a36ed01ca871309" class="float-left" id="doge-icon" />
                                    }
                                    else
                                    {

                                        <img src="http://www.stickpng.com/assets/images/585e4bf3cb11b227491c339a.png" class="float-left" id="big-user-icon" />
                                    }
                                }
                                <div class="d-inline-block" id="user-attr">
                                    <strong>@User.Claims.FirstOrDefault(c => c.Type == "FullName").Value</strong>
                                    @if (isAdmin)
                                    {
                                        <i class="fas fa-star"></i>
                                    }
                                    <p>@User.Identity.Name</p>
                                </div>
                                @if (User.Identity.Name == "doge@gmail.com")
                                {
                                    <div class="d-block">
                                        <i>Supreme Overlord Admin</i>
                                    </div>
                                }
                                else if (isAdmin)
                                {
                                    <div class="d-block">
                                        <i>Admin</i>
                                    </div>
                                }
                                else
                                {
                                    <div class="d-block">
                                        <i>Member</i>
                                    </div>
                                }
                            </div>
                            @if (isAdmin)
                            {
                                <a class="dropdown-item" asp-controller="Admin" asp-action="Index">Admin Dashboard</a>
                            }
                            @if (User.Identity.Name.Contains("doge"))
                            {
                                <a class="dropdown-item" asp-action="Index" asp-controller="Doge">Doge Portal</a>

                            }
                            <a class="dropdown-item" href="#">Account Info</a>
                            <a class="dropdown-item" href="#">Shopping Cart</a>
                            <div class="dropdown-divider"></div>
                            <div class="logout-container">
                                <a asp-controller="Account" asp-action="Logout" class="btn btn-danger" id="logout-btn">Log out</a>
                            </div>
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                }
                <li class="nav-item">
                    <form class="form-inline mt-2 mt-md-0" asp-controller="Shop" asp-action="Index" method="get">
                        <input class="form-control mr-sm-2" type="text" name="SearchString" placeholder="Search for a Product" aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        @RenderBody()
        <div class="wrapper">
            @if (SignInManager.IsSignedIn(User))
            {
                @await Component.InvokeAsync("ShoppingCart");
            }
            else
            {
                <p>Login to see your basket</p>
            }
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">© Copyright 2018 Arigato Robotos - All Rights Reserved</span>
        </div>
    </footer>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script>
        $(document).ready(function () {
            $(".disabled").click(function () {
                return false;
            });
        });
    </script>
</body>