main {
    padding-top: 5em;
}

@media only screen and (max-width: 850px) {
    main {
        padding-top: 7em;
    }
}

/*@media only screen and (max-width: 750px) {
    main {
        padding-top: 10em;
    }
}*/

@media only screen and (max-width: 580px) {
    main {
        padding-top: 14em;
    }
}

@media only screen and (max-width: 320px) {
    main {
        padding-top: 16em;
    }
}

footer {
    padding-bottom: 2em;
}

section {
    a.btn {
        margin:2em auto;
    }
}

section.order:not(:last-child) {
    margin-bottom: 8em;
}