img.resize {
    /*width: 30vw;*/
    max-width:300px;
    border: solid 10px #0094ff;
    border-radius: 1em;
    margin-bottom: 1em;
}

.featureProduct {
    /*max-width: 40vw;*/
    /*display: block;*/
    /*text-align:center;*/
    padding: 1em 0;
}


@media only screen and (max-width: 400px) {
    img.resize {
        width: 80vw;
    }
}

.fa-user {

}

.logout-container {
    text-align:center;
}

#logout-btn {
    padding: .5em 3.5em;
}

.admin-icon {
    width:60px;
    /*float: left;*/
}

.dropdown-menu {
    width: 250px !important;
    /*height: 400px !important;*/
}

#user-attr {
    margin-left: .5em;
}

.smaller-img {
    width:20vw;
}