img.resize {
    max-width: 300px;
    border: solid 10px #0094ff;
    border-radius: 1em;
    margin-bottom: 1em;
}

.featureProduct {
    padding: 1em 0;
}


@media only screen and (max-width: 400px) {
    img.resize {
        width: 80vw;
    }
}

.logout-container {
    text-align: center;
}

#logout-btn {
    padding: .5em 3.5em;
}

#doge-icon, #big-user-icon {
    width: 60px;
}

.user-menu {
    width: 250px;
}

#user-attr {
    margin-left: .5em;
}

.smaller-img {
    width: 200px;
}

@media only screen and (max-width: 500px) {
    .smaller-img {
        width: 30vw;
    }
}

.doge-img {
    width: 300px;
}

i.big-user-icon {
    font-size:40px;
}

.checkout-img {
    height:70px;
}

.bigHr {
    background-color: dimgrey !important;
    color: dimgrey !important;
    border: solid 2px dimgrey !important;
    height: 1px !important;
    /*width: 1000px !important;*/
}

a {
    i.fas {
        margin-left:1em;
    }
}