@model Product
@{
    Layout = "_Layout";
}

<div class="container">
    <h2>@Model.Name</h2>
    <div class="row">
        <div class="col-md-6">
            <p>$@Model.Price</p>
            <p>@Model.Description</p>
        </div>
        <div class="col-md-6">
            <img src="@Model.ImgUrl" />
        </div>
    </div>
</div>