@{
    Layout = "_Layout";
}

<div class="container">
    <h2>Admin Dashboard</h2>
    <section>
        <a class="btn btn-info btn-lg btn-block" asp-controller="Admin" asp-action="ViewAll">View All Products</a>
        <a class="btn btn-success btn-lg btn-block" asp-controller="Admin" asp-action="Create">Add a Product</a>
        <a class="btn btn-warning btn-lg btn-block" asp-controller="Admin" asp-action="RecentOrders">View Recent Orders</a>
    </section>
</div>