@{
    Layout = "_Layout";
}

<h2>Welcome to the Secret Doge Page!</h2>
<img src="https://upload.wikimedia.org/wikipedia/en/5/5f/Original_Doge_meme.jpg" />
<img src="https://upload.wikimedia.org/wikipedia/commons/d/df/Doge_homemade_meme.jpg" />
<img src="https://images4.sw-cdn.net/product/picture/710x528_7480816_1496035_1459325206.jpg" />