@{
    Layout = "_Layout";
}

<h2 class="text-center">Welcome to the Secret Doge Page!</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-6 text-center mb-4">
            <img class="doge-img" src="http://www.slate.com/content/dam/slate/articles/news_and_politics/the_slate_quiz/authorPortraits/pronounce_doge4.jpg.CROP.promovar-mediumlarge.jpg" />
        </div>
        <div class="col-lg-6 text-center mb-4">
            <img class="doge-img" src="https://i.ytimg.com/vi/Yj7ja6BANLM/maxresdefault.jpg" />
        </div>
        <div class="col-lg-6 text-center mb-4">
            <img class="doge-img" src="https://images4.sw-cdn.net/product/picture/710x528_7480816_1496035_1459325206.jpg" />
        </div>
        <div class="col-lg-6 text-center mb-4">
            <img class="doge-img" src="https://upload.wikimedia.org/wikipedia/commons/d/df/Doge_homemade_meme.jpg" />
        </div>
    </div>
</div>